#cover
  background-color: #ffc107
  display: flex
  align-items: center
  justify-content: center
  min-height: 60vh
  background-position: center
  background-size: cover

#cover .name
  max-width: 720px

#cover .name img
  width: 200px !important
  object-fit: cover
  height: 200px !important
  border: 0.3rem solid white
  box-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.3)
  margin: 0.5rem

.text-center
  text-align: center!important