@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
$font-size-menu: calc(0.8rem + 0.5vw)

body
  background: #eee
  margin: 0
  font-family: 'Nunito Sans', sans-serif

footer
  display: block
  .sub-footer
    display: block
    background: black
    color: white
    padding: 1rem

h1, h2, h3, h4, h5, h6
  font-family: 'Rajdhani', sans-serif
  font-weight: 900

h2
  font-size: calc(1.8rem + 1.5vw)

h5
  font-size: calc(1rem + 0.6vw)

#sidebar
  display: none
  align-items: center
  justify-content: center
  width: 16rem
  min-height: 100vh
  position: fixed
  background-color: #485461
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%)
  font-family: 'Rajdhani', sans-serif
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2)
  div
    width: 100%
  .logo
    background-image: url("../images/logo_light.png")
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    height: 20vh
  .menu
    margin: 5vh 0rem
    .menu-item
      display: flex
      padding: 0.8rem
      margin: 0.5rem 0
      color: white
      text-decoration: none
      font-size: $font-size-menu
      font-weight: 900
      img
        width: calc(0.8rem + 0.7vw)
        height: calc(0.8rem + 0.7vw)
        margin-right: 0.5rem
    .menu-item:hover, .menu-item:focus, .menu-item[aria-current="page"]
      background: #0097a7
  .social-menu
    display: flex
    align-items: center
    justify-content: center
    .social-icon
      padding: 0.3rem
      display: flex
      align-items: center
      justify-content: center
      img
        width: calc(1.2rem + 0.7vw)
        height: calc(1.2rem + 0.7vw)

.member-card
  display: block
  background: white
  padding: 1rem
  text-decoration: none
  img
    width: 100%

.member-card:hover
  text-decoration: none

.blog-card
  display: block
  background: white
  padding: 1rem
  text-decoration: none
  img
    width: 100%

.blog-card:hover
  text-decoration: none

.project-card
  display: block
  background: white
  padding: 1rem
  text-decoration: none
  img
    width: 100%

.project-card:hover
  text-decoration: none

@media (min-width: 900px)
  #sidebar
    display: flex
  #page-container
    margin-left: 16rem

#page-container
  padding: 0 0

.blog-author
  display: block
  background: white
  padding: 1rem
  text-decoration: none
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15)


.blog-title
  background: #ffc107
  padding: 4rem
  text-decoration: none
  font-size: larger

.blog-text
  background: white
  padding: 2rem
  font-size: larger
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15)

.blog-image
  padding-left: 4rem
  border: 1px none black

.home-card
  background: white
  padding: calc(1vw + 0.5rem)
  margin: calc(1vh + 0.5rem) calc(0.5vw + 0.5rem)
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15)
  p
    font-size: calc(0.8rem + 0.5vmax)
  img
    max-width: 100%
  .points
    text-align: center
    img
      width: 5rem
    h5
      span
        display: block
        font-size: 80%

